<svg [attr.width]="width" [attr.height]="height" [attr.viewBox]="'0 0 ' + width + ' ' + height"
     class="sparkline" preserveAspectRatio="none">
  @if (areaPath) {
    <path [attr.d]="areaPath" [attr.fill]="color + '18'" />
  }
  @if (linePath) {
    <path [attr.d]="linePath" fill="none" [attr.stroke]="color" stroke-width="1.5"
          stroke-linecap="round" stroke-linejoin="round" />
  }
  @if (lastPoint) {
    <circle [attr.cx]="lastPoint.x" [attr.cy]="lastPoint.y" r="2.5" [attr.fill]="color" />
  }
</svg>
